#wpadminbar {
  background: #2d2d2d; }
  #wpadminbar * {
    font-family: "Open Sans", sans-serif; }
  @media screen and (min-width: 769px) {
    #wpadminbar {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box;
      height: 39px !important; } }
  @media screen and (min-width: 769px) {
    #wpadminbar .ab-item {
      box-sizing: border-box;
      height: 39px !important;
      padding: 2px 10px !important; } }
  #wpadminbar .ab-sub-wrapper .ab-item {
    height: auto !important;
    padding: 5px 10px !important; }

#adminmenuwrap {
  width: 100% !important;
  top: 39px !important; }
  #adminmenuwrap #adminmenu {
    background: #2d2d2d; }
    @media screen and (min-width: 769px) {
      #adminmenuwrap #adminmenu {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 !important; }
        #adminmenuwrap #adminmenu > li:nth-child(n + 12):not(.menu-top-more) {
          display: none !important; }
        #adminmenuwrap #adminmenu .menu-top-more > ul > li.wp-menu-separator {
          display: none !important; }
        #adminmenuwrap #adminmenu .menu-top-more > ul > li > a {
          color: white !important;
          line-height: 10px !important; }
          #adminmenuwrap #adminmenu .menu-top-more > ul > li > a .wp-menu-image {
            display: none !important; }
        #adminmenuwrap #adminmenu .menu-top-more > ul > li .wp-submenu {
          top: 0 !important;
          left: 100% !important;
          display: none; }
        #adminmenuwrap #adminmenu .menu-top-more li.wp-has-submenu:hover .wp-submenu {
          display: block; } }
  @media screen and (min-width: 769px) {
    #adminmenuwrap .menu-top a {
      display: flex;
      padding: 5px 15px !important; } }
  #adminmenuwrap .menu-top.current, #adminmenuwrap .menu-top.wp-has-current-submenu {
    background: #1f1f1f !important; }
  #adminmenuwrap .menu-top:hover > a, #adminmenuwrap .menu-top:active > a, #adminmenuwrap .menu-top:focus > a {
    background: #0074bd !important;
    color: white !important; }
    #adminmenuwrap .menu-top:hover > a .wp-menu-image:before, #adminmenuwrap .menu-top:active > a .wp-menu-image:before, #adminmenuwrap .menu-top:focus > a .wp-menu-image:before {
      color: white; }
  #adminmenuwrap .menu-top:hover .wp-submenu, #adminmenuwrap .menu-top:active .wp-submenu, #adminmenuwrap .menu-top:focus .wp-submenu {
    display: block;
    left: 0;
    top: 100% !important; }
  #adminmenuwrap .menu-top:after {
    display: none !important; }
  #adminmenuwrap .wp-submenu {
    background: #1f1f1f !important; }
    @media screen and (min-width: 769px) {
      #adminmenuwrap .wp-submenu {
        display: none;
        left: 0;
        position: absolute !important; } }
    #adminmenuwrap .wp-submenu a {
      line-height: 26px !important; }
      #adminmenuwrap .wp-submenu a:hover {
        color: #00b9eb !important; }
  #adminmenuwrap #collapse-menu {
    display: none; }

@media screen and (min-width: 769px) {
  #adminmenuback {
    display: none !important; } }

@media screen and (min-width: 769px) {
  #wpcontent {
    margin: 0 !important; }
    #wpcontent .edit-post-layout__content {
      margin-left: 0px !important; }
    #wpcontent .edit-post-header {
      top: 100px;
      left: 0; }
      #wpcontent .edit-post-header__settings {
        margin-top: -35px !important;
        height: 100px !important; }
        #wpcontent .edit-post-header__settings .components-button.is-tertiary {
          background: white;
          color: rgba(25, 11, 40, 0.5);
          padding: 0 !important; }
    #wpcontent .edit-post-sidebar {
      margin-top: 90px !important; }
    #wpcontent .components-notice {
      width: 1200px !important; }
    #wpcontent .wp-block {
      max-width: none !important; }
    #wpcontent #wpbody-content {
      margin-top: 100px !important; }
      #wpcontent #wpbody-content a {
        color: #0074bd;
        font-weight: bold; }
        #wpcontent #wpbody-content a:hover {
          text-decoration: underline; }
        #wpcontent #wpbody-content a.submitdelete {
          color: crimson; }
    #wpcontent .postbox {
      border: none; }
      #wpcontent .postbox > button {
        display: none; }
      #wpcontent .postbox > h2 {
        border: none; }
    #wpcontent #screen-meta-links button {
      border: none; }
    #wpcontent .metabox-prefs {
      border: none; }
    #wpcontent input[type="checkbox"], #wpcontent input[type="radio"] {
      border-radius: 2px; } }

html,
body {
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important; }

.button, .is-button {
  position: relative;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  padding: 5px 15px !important;
  height: auto !important;
  width: auto !important;
  font-size: 14px !important; }
  .button-default, .is-button.is-default {
    background: white !important;
    border: 1px solid rgba(0, 185, 235, 0.1) !important; }
  .button-primary, .is-button.is-primary {
    background: #0074bd !important;
    border: none !important;
    color: white !important;
    text-decoration: none !important;
    transition: all 0.3s; }
    .button-primary:hover, .is-button.is-primary:hover {
      background: rgba(0, 116, 189, 0.8) !important; }

.delete-theme {
  color: crimson !important;
  background: none !important;
  border: none !important; }

.theme-actions {
  padding: 0 !important;
  margin-right: 10px; }
