// Colors
$black: #000000;
$teal: #41E0D3;
$magenta: #8C3A83;
$purple: #2e294e;
$midnight: #190b28;

$wordpress: #23282d;
$primary: $midnight;
$secondary: $purple;


// Typography
$primary-font-family: 'Open Sans',
sans-serif;

// Breakpoints
$tablet: 769px;
