#wpcontent {
  @include breakpoint($tablet) {
    margin: 0 !important;

    .edit-post-layout__content {
      margin-left: 0px !important;
    }

    .edit-post-header {
      top: 100px;
      left: 0;

      &__settings {
      margin-top: -35px !important;
      height: 100px !important;

        .components-button {
          &.is-tertiary {
            background: white;
            color: rgba($primary, 0.5);
            padding: 0 !important;
          }
        }
      }
    }

    .edit-post-sidebar {
      margin-top: 90px !important;
    }

    .components-notice {
      width: 1200px !important;
    }

    .wp-block {
      max-width: none !important;
    }

    #wpbody-content {
      margin-top: 100px !important;

      a {
        color: $blue__dark;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }

        &.submitdelete {
          color: $red;
        }
      }
    }

    .postbox {
      border: none;

      > button {
        display: none;
      }
      > h2 {
        border: none;
      }
    }

    #screen-meta-links {
      button {
        border: none;
      }
    }

    .metabox-prefs {
      border: none;
    }

    input[type="checkbox"], input[type="radio"] {
      border-radius: 2px;
    }
  }
}
