.button,
.is-button {
  border-radius: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  padding: 5px 15px !important;
  height: auto !important;
  width: auto !important;
  font-size: 14px !important;

  &-default,
  &.is-default {
    background: white !important;
    border: 1px solid rgba(black, 0.1) !important;
  }

  &-primary,
  &.is-primary {
    background: linear-gradient(to bottom right, $teal 15%, $purple) !important;
    border: none !important;
  }
}
