.button {
  position: relative;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  padding: 5px 15px !important;
  height: auto !important;
  width: auto !important;
  font-size: 14px !important;

  &-default {
    background: white !important;
    border: 1px solid rgba($blue, 0.1) !important;
  }

  &-primary {
    // background-color: $teal;
    // background: linear-gradient(to bottom right, $teal 15%, $purple) !important;
    background: $blue__dark !important;
    border: none !important;
    color: white !important;
    text-decoration: none !important;
    transition: all 0.3s;

    &:hover {
      background: rgba($blue__dark, 0.8) !important;
    }
  }
}

.is-button {
  @extend .button;

  &.is-default {
    @extend .button-default;
  }

  &.is-primary {
    @extend .button-primary;
  }
}

.delete-theme {
  color: $red !important;
  background: none !important;
  border: none !important;
}

.theme-actions {
  padding: 0 !important;
  margin-right: 10px;
}
